$dark: #26262a;
$light: #f5f8fa;
$gold: #c6a905;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
html {
	background-color: $light;
}

@import "./navbar.scss";

.content-body {
	height: 100vh;

	.banner {
		position: relative;
		height: 50%;
		transition: height 0.7s;
		img {
			width: 100%;
			height: 100%;
		}

		.cover-btn {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 50px;
			display: flex;
			background-color: rgba(245, 248, 250, 0.4);
			cursor: pointer;

			span {
				margin: auto;
				font-size: 1.5rem;
				font-weight: bolder;
				transform: rotate(0deg);
				transition: transform 0.7s;
			}

			&:hover {
				color: $gold;
				text-shadow: 2px 1px $dark;
			}
		}
	}

	.banner-cover {
		height: 100%;

		.cover-btn {
			span {
				transform: rotate(180deg);
			}
		}
	}

	.content {
		z-index: -1;
		height: 50%;
		width: 100%;
		display: flex;
		transition: top 0.7s;

		.content-left,
		.content-right {
			display: flex;
			padding: 0 1.5rem;
		}

		.content-left {
			.content-date {
				font-size: 0.8rem;
				color: #9d9fa0;
			}

			.content-title {
				height: 90%;
				display: flex;
				.title {
					margin: auto;
					font-size: 1.6rem;
				}
			}

			.content-icon {
				margin: auto;
				flex-grow: 1;
				width: 70%;
				height: 70%;

				display: flex;
				flex-direction: column;

				.icon-img,
				p {
					margin: auto;
				}

				.icon-img {
					border-radius: 50%;
					overflow: hidden;

					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}

				p {
					text-align: center;
				}
			}
		}

		.content-right {
			* {
				margin: auto;
			}
		}
	}

	.content-hide {
		display: none;
	}
}

@media screen and (min-width: 746px) {
	.content {
		padding: 1.3rem 0;
		.content-left {
			flex-direction: column;
			width: 30%;
		}

		.content-right {
			width: 70%;
		}
	}
}

@media screen and (max-width: 745px) {
	.content {
		flex-direction: column;
		width: 90%;

		.content-left {
			width: 100%;

			flex-direction: row;
		}

		.content-right {
			width: 100%;
		}
	}
}
