.navbar {
	z-index: 100000;
	background-color: $dark;
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;

	.navbar-logo {
		z-index: 10000;
		flex-grow: 1;
		display: flex;

		.logo {
			text-decoration: none;
			padding: 1.3rem 1.1rem;
			letter-spacing: 5px;
			margin-left: 25px;
			color: $light;

			&:hover {
				color: $gold;
				text-shadow: 2px 1px $dark;
			}
		}
	}

	.navbar-content {
		z-index: 10000;
		flex-grow: 2;

		display: flex;

		.navbar-options-left {
			padding: 0 1.2rem;
		}

		.navbar-option {
			text-decoration: none;
			padding: 1.3rem 1.1rem;
			color: $light;

			&:hover {
				color: $dark;
				background-color: $light;
			}
		}
	}
}

@media only screen and (min-width: 826px) {
	.navbar-content {
		justify-content: space-between;
	}

	.navbar-options-left,
	.navbar-options-right {
		display: flex;
	}

	.navbar-burguer-container {
		display: none;
	}

	.full-screen-menu {
		display: none;
	}
}

@media only screen and (max-width: 825px) {
	.navbar-content {
		justify-content: flex-end;

		.navbar-options-left,
		.navbar-options-right {
			display: none;
		}

		.navbar-burguer-container {
			// display: block;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			margin-right: 25px;

			.bars {
				margin: auto;
				.navbar-bur1,
				.navbar-bur2,
				.navbar-bur3 {
					width: 25px;
					height: 3px;
					background-color: $light;
					margin: 6px 0;
					transition: 0.4s;
				}

				&:hover {
					div {
						background-color: $gold;
					}
				}
			}

			&.active .bars {
				div:nth-child(1) {
					transform: rotate(-45deg) translate(-9px, 6px);
				}

				div:nth-child(2) {
					opacity: 0;
				}

				div:nth-child(3) {
					transform: rotate(45deg) translate(-6px, -5px);
				}
			}
		}
	}

	.full-screen-menu {
		display: none;
		background-color: rgba(38, 38, 42, .4);

		&.active {
			position: fixed;
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;

			.menu-options {
				margin: auto;
				display: flex;
				flex-direction: column;
				width: 100%;
				
				.menu-option {
					font-size: 1.4rem;
					color: $light;
					text-decoration: none;
					padding-left: 1.3rem;
					height: 75px;
					line-height: 75px;

					&:hover {
						background-color: rgba(38, 38, 42, .6);
						color: $gold;
					}
				}
			}
		}
	}
}
